<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KHRota.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <KHRota.Properties.Settings>
            <setting name="MonthsInAdvance" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SavedMeetings" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedJobs" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedBrothers" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedJobGroups" serializeAs="String">
                <value />
            </setting>
            <setting name="SendEmailUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SendEmailPassword" serializeAs="String">
                <value />
            </setting>
        </KHRota.Properties.Settings>
    </userSettings>
</configuration>